@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto+Condensed:wght@300&display=swap');


:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255, 255, 255, 0);
  --pink: #FD4370;
  --background-color: #141628;
  --fontSuperBig: 2rem;
  --fontBig: 1.2rem;
  --fontMed: 1rem;
  --fontSmall: 0.9rem;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
}

nav {
  background-color: var(--background-color) !important;
}

nav a.navbar-brand {
  max-width: 17.25rem;
}

nav a.navbar-brand.logo {
  width: 16.25rem;
  font-family: 'Dancing Script', cursive;
  color: var(--pink);
  font-size: var(--fontSuperBig);
}


nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}


nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin: 0.75rem 0; 
  color: var(--primary-white) !important;
  font-size: var(--fontSmall);
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus {
  border-top: 0.1875rem solid var(--pink);
  color: var(--pink) !important;
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--pink);
  color: var(--pink) !important;
}